<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-compass"></i> 使用指南及各题型输入样本
    </div>
    <div class="card-body row">
        <div class="col-md-4">
            <div class="nav flex-column nav-pills" role="tablist">
                <a class="nav-link active" data-toggle="pill" href="#tabNote" role="tab">使用注意</a>
                <a class="nav-link" data-toggle="pill" href="#tabFile" role="tab">文件命名</a>
                <a class="nav-link" data-toggle="pill" href="#tabDetail" role="tab">细节输入</a>
                <a class="nav-link" data-toggle="pill" href="#tabMC" role="tab">单项选择题</a>
                <a class="nav-link" data-toggle="pill" href="#tabMR" role="tab">多项选择题</a>
                <a class="nav-link" data-toggle="pill" href="#tabTF" role="tab">判断题</a>
                <a class="nav-link" data-toggle="pill" href="#tabTB" role="tab">文本填空题</a>
                <a class="nav-link" data-toggle="pill" href="#tabNB" role="tab">数字填空题</a>
                <a class="nav-link" data-toggle="pill" href="#tabDC" role="tab">陈述题</a>
                <a class="nav-link" data-toggle="pill" href="#tabCP" role="tab">综合题</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tabNote">
                    非综合题一次添加数量不限，由于服务器限制，请保证一次添加总字数少于2000字。<br>
                    综合题一次只能添加一题，其文件命名方式略有区别。<br>
                    每题开头必须带有索引号，索引号不限长度。综合题的小题题干下一行请注明题型。
                </div>
                <div class="tab-pane fade" id="tabFile">
                    题目图片按照与题目对应顺序的索引命名，如："101.jpg"、"201.jpg"、"305.png"；<br>
                    题目附件按照与题目对应顺序的索引命名，如："101.zip"、"201.doc"、"305.py"；<br>
                    题目视频按照与题目对应顺序的索引命名，如："101.mp4"、"201.mkv"、"305.mov"；<br>
                    答案图片名称为"索引-ans"的格式，如："101-ans.jpg"、"201-ans.jpeg"、"305-ans.bmp"。<br>
                    选项图片名称为"索引-选项"的格式，如："101-A.jpg"、"101-B.jpeg"、"305-A.png"。<br>
                    <br>
                    综合题主干部分的文件命名方式同上。<br>
                    对于子题，所有文件命名规则同非综合题，只需把索引号部分替换为"综合题主干题的索引-小题号"形式即可，例如：<br>
                    综合题索引号为"301"，则子题第一小题的图片名为"301-1.jpg"，第二小题答案图片名"301-2-ans.png"。<br>
                </div>
                <div class="tab-pane fade" id="tabDetail">
                    除去单选、多选和判断（非综合题小题）外，其它题型均有各自的细节；<br>
                    如某题允许考生上传附件，只需在答案另起一行后面输入"允许考生上传附件"即可。<br>
                    数字题还可以添加"允许误差"、"允许机会"选项，综合题有"分值比重"选项。<br>
                    细节输入顺序不限，但若忽略不写，则设置为默认值：不可上传、0%误差、1次机会，（综合题分值比重为必填项）。<br>
                </div>
                <div class="tab-pane fade" id="tabMC">
                    101 中国的国宝是什么？<br>
                    (A)老虎<br>
                    (B)扬子鳄<br>
                    (C)熊猫<br>
                    (D)金丝猴<br>
                    答案：C<br>
                </div>
                <div class="tab-pane fade" id="tabMR">
                    202 下面哪些城市属于美国？<br>
                    (A)纽约<br>
                    (B)伦敦<br>
                    (C)洛杉矶<br>
                    (D)芝加哥<br>
                    答案：ACD<br>
                </div>
                <div class="tab-pane fade" id="tabTF">
                    301 上海属于亚热带季风性气候。<br>
                    答案：T<br>
                    302 北京属于亚热带季风性气候。<br>
                    答案：F<br>
                </div>
                <div class="tab-pane fade" id="tabTB">
                    405 ____为世界上领土面积最大的国家。<br>
                    答案：俄罗斯<br>
                </div>
                <div class="tab-pane fade" id="tabNB">
                    520 物体A的质量为10kg，请问它的重量（地球上）为多少N？<br>
                    答案：98<br>
                    允许误差：2%<br>
                    允许机会：3次<br>
                    允许考生上传附件<br>
                </div>
                <div class="tab-pane fade" id="tabDC">
                    666 量变和质变的辨证关系如何？<br>
                    答案：量变是事物数量的递增和次序的变动，是保持事物质的相对稳定性的不显著变化，体现了事物渐进过程的连续性。质变是事物性质的根本变化，是事物由一种质态向另一种质态的飞跃，体现了事物渐进过程的中断。区分量变质变的根本标志，是事物的变化是否超出度的范围。量变是质变的必要准备；质变是量变的必然结果；量变与质变是互相渗透，互相依存，互相贯通，交替循环，揭示出事物质量互变的规律性。<br>
                    667 今天，众多2000年出生的考生走进高考考场。18年过去了，祖国在不断发展，大家也成长为青年。请以“新时代新青年——谈在祖国发展中成长”为题，写一篇议论文。<br>
                    答案：略。<br>
                    本题不需要文字作答<br>
                    允许考生上传附件<br>
                </div>
                <div class="tab-pane fade" id="tabCP">
                    7001 本题考验综合能力，请回答以下所有题目。<br>
                    请问：<br>
                    （1）中国的国宝是什么？<br>
                    题型：单项选择题<br>
                    (A)老虎<br>
                    (B)扬子鳄<br>
                    (C)熊猫<br>
                    (D)金丝猴<br>
                    答案：C<br>
                    分值比重：25%<br>
                    （2）下面哪些城市属于美国？<br>
                    题型：多项选择题<br>
                    (A)纽约<br>
                    (B)伦敦<br>
                    (C)洛杉矶<br>
                    (D)芝加哥<br>
                    答案：ACD<br>
                    分值比重：25%<br>
                    （3）物体A的质量为10kg，请问它的重量（地球上）为多少N？<br>
                    题型：数字填空题<br>
                    答案：98<br>
                    允许误差：2%<br>
                    允许机会：1次<br>
                    允许考生上传附件<br>
                    分值比重：25%<br>
                    允许考生上传附件<br>
                    （4）今天，众多2000年出生的考生走进高考考场。18年过去了，祖国在不断发展，大家也成长为青年。请以“新时代新青年——谈在祖国发展中成长”为题，写一篇议论文。<br>
                    题型：陈述题<br>
                    答案：略。<br>
                    本题不需要文字作答<br>
                    分值比重：25%<br>
                    允许考生上传附件<br>
                </div>
            </div>
        </div>

    </div>
</div>