{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}组成试卷{% endblock %}
{% block canvas_title %}组成试卷（建设中）{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <!-- Category -->
            <label for="id_category" class="font-weight-bold">类别</label>
            <div class="form-group">
                <select class="custom-select" id="id_category" name="category" size="5">
                    <option value="0" selected>全部</option>
                    {% for object in all_categories %}
                        <option value="{{ object.id }}">{{ object }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Subject -->
            <label for="id_subject" class="font-weight-bold">科目</label>
            <div class="form-group">
                <select class="custom-select" id="id_subject" name="subject" size="5">
                    <option value="0" selected>全部</option>
                    {% for object in all_subjects %}
                        <option value="{{ object.id }}">{{ object }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Strategy -->
            <label for="id_strategy" class="font-weight-bold">策略</label>
            <div class="float-right">
                <span id="add_strategy" class="fake-link text-primary">添加</span>
            </div>
            <div class="form-group">
                <select class="custom-select" id="id_strategy" name="strategy" size="5">
                    <option value="0" selected>全部</option>
                    {% for object in all_strategies %}
                        <option value="{{ object.id }}">{{ object }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <p class="font-weight-bold mb-2">查看策略信息</p>
            <table class="table table-sm table-bordered">
                <tbody>
                <tr>
                    <th scope="row" class="cell-2">策略</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_name">请先选择一个策略</td>
                </tr>
                <tr>
                    <th scope="row" class="cell-2">索引</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_index">请先选择一个策略</td>
                </tr>
                <tr>
                    <th scope="row" class="cell-2">简介</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_description">请先选择一个策略</td>
                </tr>
                <tr>
                    <th scope="row" class="cell-2">限时</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_timer">请先选择一个策略</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="cell-2">章节
                        <span id="add_chapter" class="fake-link text-primary">
                            <span class="fa fa-plus-circle"></span>
                        </span>
                    </th>
                    {% for entry in type_sc_abbr %}
                        <th scope="col" class="cell-1">{{ entry }}</th>
                    {% endfor %}
                    <th scope="col" class="cell-1">操作</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <th class="cell-2">总分</th>
                    <td colspan="8" id="total_points">0</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <hr>
    <div class="row" hidden>
        <div class="col-md-4">
            <label for="id_students" class="font-weight-bold required">学生名单</label>
            <textarea class="form-control notes mb-3" rows="15" id="id_students" name="students" required></textarea>
            <div class="alert alert-secondary">
                每行一位学生，格式为考试号-姓名-证件号。例：<br>
                1A-大卫-2018FCS025<br>
                1B-迈克-2018SEN026<br>
                1C-安妮-2017FMA037<br>
            </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
{% include 'exam/strategy_modal.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/dynamic_exams.js' %}"></script>
{% endblock %}