{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}组成试卷{% endblock %}
{% block canvas_title %}组成试卷{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <!-- Category -->
            <label for="id_category" class="font-weight-bold">类别</label>
            <div class="form-group">
                <select class="custom-select" id="id_category" name="category" size="5">
                    <option value="0" selected>全部</option>
                    {% for object in all_categories %}
                        <option value="{{ object.id }}">{{ object }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Subject -->
            <label for="id_subject" class="font-weight-bold">科目</label>
            <div class="form-group">
                <select class="custom-select" id="id_subject" name="subject" size="5">
                    <option value="0" selected>全部</option>
                    {% for object in all_subjects %}
                        <option value="{{ object.id }}">{{ object }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Strategy -->
            <label for="id_strategy" class="font-weight-bold">策略</label>
            <div class="float-right">
                <span id="add_strategy" class="fake-link text-primary">添加</span>
                <span id="duplicate_strategy" class="fake-link text-success">复制</span>
                <span id="edit_strategy" class="fake-link text-secondary">编辑/删除</span>
            </div>
            <div class="form-group">
                <select class="custom-select" id="id_strategy" name="strategy" size="5">
                    <option value="0" selected>全部</option>
                    {% for object in all_strategies %}
                        <option value="{{ object.id }}">{{ object }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <p class="font-weight-bold mb-2">查看策略信息</p>
            <table class="table table-sm table-bordered">
                <tbody>
                <tr>
                    <th scope="row" class="cell-2">策略</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_name">请先选择一个策略</td>
                </tr>
                <tr>
                    <th scope="row" class="cell-2">索引</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_index">请先选择一个策略</td>
                </tr>
                <tr>
                    <th scope="row" class="cell-2">简介</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_description">请先选择一个策略</td>
                </tr>
                <tr>
                    <th scope="row" class="cell-2">限时</th>
                    <td colspan="3" class="cell-8" id="cell_strategy_timer">请先选择一个策略</td>
                </tr>
                </tbody>
            </table>
            <p class="font-weight-bold mb-2">查看策略结构</p>
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="cell-2">章节
                        <span id="add_chapter" class="fake-link text-primary">
                            <span class="fa fa-plus-circle"></span>
                        </span>
                    </th>
                    {% for entry in type_sc_abbr %}
                        <th scope="col" class="cell-8p">{{ entry }}</th>
                    {% endfor %}
                    <th scope="col" class="cell-24p">操作</th>
                </tr>
                </thead>
                <tbody id="strategy_structure"></tbody>
                <tfoot>
                <tr>
                    <th class="cell-2">总分</th>
                    <td colspan="8" id="total_points">0</td>
                </tr>
                </tfoot>
            </table>
            <form role="form" method="post" id="form_save_structure">
                {% csrf_token %}
                <div class="form-group" hidden>
                    <label for="id_selected_strategy">策略ID</label>
                    <input type="text" id="id_selected_strategy" name="selected_strategy" readonly>
                </div>
                <div class="form-group" hidden>
                    <label for="id_strategy_plan">策略JSON</label>
                    <input type="text" id="id_strategy_plan" name="strategy_plan" readonly>
                </div>
                <div class="form-group" hidden>
                    <label for="id_sample_check">生成样卷</label>
                    <input type="checkbox" id="id_sample_check" name="sample_check">
                </div>
            </form>
            <button class="btn btn-sm btn-dark" id="save_structure">保存修改</button>
            <button class="btn btn-sm btn-dark" id="generate_exam">生成考试</button>
            <button class="btn btn-sm btn-dark" id="generate_sample">生成样卷</button>
        </div>
    </div>
    <hr>
    {% include 'exam/generate_exam.html' %}
    <div class="row">
        <div class="col-md-9">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col" class="cell-4">已保存考试包</th>
                    <th scope="col" class="cell-1"></th>
                    <th scope="col" class="cell-5">创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for object in all_exams %}
                    <tr>
                        <td>{{ object }}</td>
                        <td class="fake-link-plus" onclick="showButtons(this);">
                            <span class="fa fa-plus-circle"></span>
                        </td>
                        <td class="text-muted">{{ object.created }}</td>
                    </tr>
                    <tr class="table-secondary" hidden>
                        <td colspan="3">
                            <a href="{% url 'exam:get_exam' object.id %}" role="button"
                               class="btn btn-sm btn-primary">下载</a>
                            <a href="javascript:" onclick="copyLink({{ object.id }})" role="button"
                               class="btn btn-sm btn-success">复制链接</a>
                            <a href="{% url 'exam:delete_exam' object.id %}" role="button"
                               class="btn btn-sm btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'exam/strategy_modal.html' %}
    {% include 'exam/students_modal.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/dynamic_exams.js' %}"></script>
{% endblock %}