{% load static %}
<!-- Exam collapse -->
<div class="collapse" id="generate_exam_collapse">
    <div class="card card-body mb-3">
        <div class="alert alert-dark">
            如需更改策略请在上方直接选择策略即可。
        </div>
        <div class="row">
            <!-- Student list input -->
            <div class="col-md-4">
                <label for="id_students" class="font-weight-bold required">学生名单</label>
                <div class="alert alert-secondary">
                    <small>
                        每行一位学生，格式为考试号-姓名-证件号。例：<br>
                        1A-大卫-2018FCS025<br>
                        1B-迈克-2018SEN026<br>
                        您也可以<span class="fake-link text-primary" id="search_student_list">点此</span>搜索已存名单
                    </small>
                </div>
                <textarea class="form-control notes mb-3" rows="14" id="id_students" name="students"
                          form="form_exam" required></textarea>
            </div>
            <!-- Other information inputs -->
            <form role="form" method="post" id="form_exam" class="col-md-5" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="font-weight-bold mb-2">其他信息</p>
                <div class="alert alert-secondary">
                    <small>
                        照片格式不限，命名方式为考试号+姓名。例：<br>
                        1A大卫.jpg<br>
                        1B迈克.png<br>
                        同时，您可以<span class="fake-link text-primary" id="check_photos">点此</span>核对照片
                    </small>
                </div>
                <div class="form-group row" hidden>
                    <label for="id_exam_strategy_id" class="col-sm-3 col-form-label required">策略ID</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm" id="id_exam_strategy_id"
                           name="exam_strategy_id" required readonly>
                </div>
                <div class="form-group row">
                    <label for="id_exam_strategy" class="col-sm-3 col-form-label required">策略</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm" id="id_exam_strategy"
                           name="exam_strategy" placeholder="请在上方选择一个策略" required readonly>
                </div>
                <div class="form-group row">
                    <label for="id_exam_location" class="col-sm-3 col-form-label required">考点</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm" id="id_exam_location"
                           name="exam_location" required>
                </div>
                <div class="form-group row">
                    <label for="id_exam_section" class="col-sm-3 col-form-label required">场次</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm" id="id_exam_section"
                           name="exam_section" required>
                </div>
                <div class="form-group row">
                    <label for="id_exam_date" class="col-sm-3 col-form-label required">考试日期</label>
                    <input type="date" class="col-sm-9 form-control form-control-sm" id="id_exam_date"
                           name="exam_date" required>
                </div>
                <div class="form-group row">
                    <label for="id_exam_title" class="col-sm-3 col-form-label required">准考证标题</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm" id="id_exam_title"
                           name="exam_title" required>
                </div>
                <div class="form-group row">
                    <label for="id_exam_agreement" class="col-sm-3 col-form-label">考试须知</label>
                    <div class="col-sm-9 input-group px-0">
                        <select class="custom-select" id="id_exam_agreement" name="exam_agreement">
                            <option value="0" selected>默认考试须知</option>
                            {% for object in all_agreements %}
                                <option value="{{ object.id }}">{{ object }}</option>
                            {% endfor %}
                        </select>
                        {% if can_manage_exam %}
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_new_agreement">
                                    新增
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_exam_ad" class="col-sm-3 col-form-label">宣传图</label>
                    <div class="col-sm-9 input-group px-0">
                        <select class="custom-select" id="id_exam_ad" name="exam_ad">
                            <option value="0" selected>默认宣传图</option>
                            {% for object in all_ads %}
                                <option value="{{ object.id }}">{{ object }}</option>
                            {% endfor %}
                        </select>
                        {% if can_manage_exam %}
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_new_ad">
                                    新增
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-sm-3 col-form-label">照片</span>
                    <div class="col-sm-9 input-group px-0">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="id_exam_photos"
                                   name="exam_photos" accept="image/*" multiple>
                            <label class="custom-file-label" for="id_exam_photos">上传照片（可多选）</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_reset_photos">
                                重置
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_exam_title" class="col-sm-3 col-form-label">名单命名</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm" id="id_student_list_name"
                           name="student_list_name" placeholder="若不保存学生名单请留白">
                </div>
                <button type="submit" form="form_exam" class="btn btn-sm btn-primary" name="add_exam">生成考试包</button>
                <button type="submit" form="form_exam" class="btn btn-sm btn-success" name="add_hw">生成学习包</button>
            </form>
            <div class="col-md-3">
                <p class="font-weight-bold mb-2">辅助功能</p>
                <div class="card mb-3">
                    <div class="card-header">考试须知图预览</div>
                    <img class="card-img-bottom" id="agreement_preview" src="{% static 'img/agreement_sc.png' %}">
                </div>
                <div class="card mb-3">
                    <div class="card-header">宣传图预览</div>
                    <img class="card-img-bottom" id="ad_preview" src="{% static 'img/ad_sc.jpg' %}">
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
{% if can_manage_exam %}
    <!-- Picture collapse -->
    <div class="collapse" id="manage_pictures_collapse">
        <div class="card card-body mb-3">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th colspan="3">考试须知</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for agreement in all_agreements %}
                            <tr>
                                <td class="cell-3">{{ agreement.name }}</td>
                                <td class="cell-5">{{ agreement.description }}</td>
                                <td class="cell-2">
                                    <span onclick="showPictureModal('edit', 'agreement', '{{ agreement.id }}')"
                                          class="fake-link text-muted">编辑/删除</span>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">暂无考试须知</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-primary" id="btn_new_agreement_2">新增考试须知</button>
                </div>
                <div class="col-md-6">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th colspan="3">宣传图</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ad in all_ads %}
                            <tr>
                                <td class="cell-3">{{ ad.name }}</td>
                                <td class="cell-5">{{ ad.description }}</td>
                                <td class="cell-2">
                                    <span onclick="showPictureModal('edit', 'ad', '{{ ad.id }}')"
                                          class="fake-link text-muted">编辑/删除</span>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">暂无宣传图</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-sm btn-primary" id="btn_new_ad_2">新增宣传图</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Agreement modal -->
    <div class="modal fade" id="agreement_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agreement_modal_title">添加考试须知图</h5>
                </div>
                <form role="form" method="post" class="modal-body pr-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row" hidden>
                        <label for="id_agreement_id" class="col-sm-3 col-form-label required">序号</label>
                        <input type="text" class="col-sm-9 form-control form-control-sm"
                               id="id_agreement_id" name="agreement_id" readonly>
                    </div>
                    <div class="form-group row">
                        <label for="id_agreement_name" class="col-sm-3 col-form-label required">名称</label>
                        <input type="text" class="col-sm-9 form-control form-control-sm" id="id_agreement_name"
                               name="agreement_name">
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-3 col-form-label required">图片</span>
                        <div class="col-sm-9 input-group px-0">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="id_agreement_image"
                                       name="agreement_image" accept="image/*">
                                <label class="custom-file-label" for="id_agreement_image">点击上传</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_reset_agreement">
                                    重置
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row" hidden>
                        <label for="id_agreement_changed">须知图更换</label>
                        <input type="checkbox" name="agreement_changed" id="id_agreement_changed">
                    </div>
                    <div class="form-group row">
                        <label for="id_agreement_description" class="col-sm-3 col-form-label">备注</label>
                        <input type="text" class="col-sm-9 form-control form-control-sm" id="id_agreement_description"
                               name="agreement_description">
                    </div>
                    <div class="card mb-3" id="agreement_preview_card" hidden>
                        <div class="card-header">考试须知图预览</div>
                        <img class="card-img-bottom" id="agreement_preview_2" src="">
                    </div>
                    <button class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
                    <button class="btn btn-sm btn-primary" type="submit" id="btn_agreement">确认添加</button>
                    <button class="btn btn-sm btn-danger" type="submit"
                            id="delete_agreement" name="delete_agreement" hidden>删除
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Ad modal -->
    <div class="modal fade" id="ad_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad_modal_title">添加宣传图</h5>
                </div>
                <form role="form" method="post" class="modal-body pr-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row" hidden>
                        <label for="id_ad_id" class="col-sm-3 col-form-label required">序号</label>
                        <input type="text" class="col-sm-9 form-control form-control-sm"
                               id="id_ad_id" name="ad_id" readonly>
                    </div>
                    <div class="form-group row">
                        <label for="id_ad_name" class="col-sm-3 col-form-label required">名称</label>
                        <input type="text" class="col-sm-9 form-control form-control-sm" id="id_ad_name" name="ad_name">
                    </div>
                    <div class="form-group row">
                        <span class="col-sm-3 col-form-label required">图片</span>
                        <div class="col-sm-9 input-group px-0">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="id_ad_image"
                                       name="ad_image" accept="image/*">
                                <label class="custom-file-label" for="id_ad_image">点击上传</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_reset_ad">
                                    重置
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" hidden>
                        <label for="id_ad_changed">宣传图更换</label>
                        <input type="checkbox" name="ad_changed" id="id_ad_changed">
                    </div>
                    <div class="form-group row">
                        <label for="id_ad_description" class="col-sm-3 col-form-label">备注</label>
                        <input type="text" class="col-sm-9 form-control form-control-sm" id="id_ad_description"
                               name="ad_description">
                    </div>
                    <div class="card mb-3" id="ad_preview_card" hidden>
                        <div class="card-header">宣传图预览</div>
                        <img class="card-img-bottom" id="ad_preview_2" src="">
                    </div>
                    <button class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
                    <button class="btn btn-sm btn-primary" type="submit" id="btn_ad">确认添加</button>
                    <button class="btn btn-sm btn-danger" type="submit" id="delete_ad" name="delete_ad" hidden>
                        删除
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}