<!-- Student list modal -->
<div class="modal fade" id="student_list_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜索学生列表</h5>
            </div>
            <div class="modal-body pr-5">
                <div class="form-group row">
                    <label for="id_list_list" class="col-sm-3 col-form-label">学生列表</label>
                    <select class="col-sm-9 custom-select" id="id_list_list">
                        <option value="" disabled selected>请选择</option>
                        {% for object in all_student_lists %}
                            <option value="{{ object.id }}">{{ object.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
                <button class="btn btn-sm btn-primary" id="btn_load_list">确认选择</button>
            </div>
        </div>
    </div>
</div>

<!-- Check modal -->
<div class="modal fade" id="photo_check_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">核对照片</h5>
            </div>
            <div class="modal-body">
                <div class="row px-2">
                    <div class="col-md-6 px-2">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">与学生名单相对应的照片</th>
                            </tr>
                            </thead>
                            <tbody id="necessary_photos"></tbody>
                        </table>
                    </div>
                    <div class="col-md-6 px-2">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">多余/重复的照片</th>
                            </tr>
                            </thead>
                            <tbody id="unnecessary_photos"></tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-sm btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- Check id modal -->
<div class="modal fade" id="id_check_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">核对身份证</h5>
            </div>
            <div class="modal-body">
                <div class="row px-2">
                    <div class="col-md-6 px-2">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">重复输入的证件号</th>
                            </tr>
                            </thead>
                            <tbody id="duplicated_ids"></tbody>
                        </table>
                    </div>
                    <div class="col-md-6 px-2">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">输入有误的证件号</th>
                            </tr>
                            </thead>
                            <tbody id="wrong_ids"></tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-sm btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
