<div class="card mb-3" id="id_access_card">
    <div class="card-body">
        <div class="font-weight-bold mb-2">题库管理</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_view_pool" name="cb_view_pool">
            <label class="form-check-label" for="cb_view_pool">允许访问题库管理页面</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_view_catalog" name="cb_view_catalog">
            <label class="form-check-label" for="cb_view_catalog">允许查看类别/科目/章节</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_catalog" name="cb_manage_catalog">
            <label class="form-check-label" for="cb_manage_catalog">允许管理类别/科目/章节</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_view_problems" name="cb_view_problems">
            <label class="form-check-label" for="cb_view_problems">允许查看题目</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_problems" name="cb_manage_problems">
            <label class="form-check-label" for="cb_manage_problems">允许管理题目</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_group_actions" name="cb_group_actions">
            <label class="form-check-label" for="cb_group_actions">允许进行批量操作（批量修改和清空）</label>
        </div>
        <hr>
        <div class="font-weight-bold mb-2">组成试卷</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_view_exam" name="cb_view_exam">
            <label class="form-check-label" for="cb_view_exam">允许访问组成试卷页面</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_strategy" name="cb_manage_strategy">
            <label class="form-check-label" for="cb_manage_strategy">允许管理策略</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_generate_exam" name="cb_generate_exam">
            <label class="form-check-label" for="cb_generate_exam">允许生成考试</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_download_exam" name="cb_download_exam">
            <label class="form-check-label" for="cb_download_exam">允许查看/下载考试包</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_exam" name="cb_manage_exam">
            <label class="form-check-label" for="cb_manage_exam">允许管理考试包和学生名单</label>
        </div>
        <hr>
        <div class="font-weight-bold mb-2">工信认证</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_view_certification"
                   name="cb_view_certification">
            <label class="form-check-label" for="cb_view_certification">允许访问工信认证页面</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_certification"
                   name="cb_manage_certification">
            <label class="form-check-label" for="cb_manage_certification">允许管理认证包</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_download_certification"
                   name="cb_download_certification">
            <label class="form-check-label" for="cb_download_certification">允许下载认证包</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_code" name="cb_manage_code">
            <label class="form-check-label" for="cb_manage_code">允许管理NCAE代码和科目</label>
        </div>
        <hr>
        <div class="font-weight-bold mb-2">用户管理</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_edit_info" name="cb_edit_info">
            <label class="form-check-label" for="cb_edit_info">允许修改自己个人信息</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_users" name="cb_manage_users">
            <label class="form-check-label" for="cb_manage_users">允许管理其他用户</label>
        </div>
        <hr>
        <div class="font-weight-bold mb-2">附件管理</div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_view_download" name="cb_view_download">
            <label class="form-check-label" for="cb_view_download">允许访问附件管理页面</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_manage_download" name="cb_manage_download">
            <label class="form-check-label" for="cb_manage_download">允许管理附件</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_private_download"
                   name="cb_private_download">
            <label class="form-check-label" for="cb_private_download">允许查看非公开附件</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cb_clean_cache" name="cb_clean_cache">
            <label class="form-check-label" for="cb_clean_cache">允许清理服务器过剩文件</label>
        </div>
    </div>
</div>