{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}附件管理{% endblock %}
{% block canvas_title %}附件管理{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 pr-md-5">
            <p class="font-weight-bold">添加新的附件</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_name" class="col-sm-3 col-form-label required">名称</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm"
                           id="id_name" name="name" required>
                </div>
                <div class="form-group row">
                    <label for="id_file_type" class="col-sm-3 col-form-label required">公开性</label>
                    <select class="col-sm-9 custom-select" id="id_file_type" name="file_type" required>
                        <option selected disabled>请选择</option>
                        <option value="公开">公开</option>
                        <option value="非公开">非公开</option>
                    </select>
                </div>
                <div class="form-group row">
                    <span class="col-sm-3 col-form-label required">文件</span>
                    <div class="col-sm-9 input-group px-0">
                        <div class="custom-file">
                            <input type="file" class="col-sm-9 custom-file-input" id="id_file" name="file">
                            <label class="custom-file-label" for="id_file">上传附件</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_reset">重置</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_version" class="col-sm-3 col-form-label">附件版本</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm"
                           id="id_version" name="version">
                </div>
                <div class="form-group row">
                    <label for="id_description" class="col-sm-3 col-form-label">文件描述</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm"
                           id="id_description" name="description">
                </div>
                <div class="form-group row">
                    <label for="id_update_log" class="col-sm-3 col-form-label">更新信息</label>
                    <input type="text" class="col-sm-9 form-control form-control-sm"
                           id="id_update_log" name="update_log">
                </div>
                <button class="btn btn-sm btn-outline-primary" type="submit">上传</button>
            </form>
        </div>
        <div class="col-md-6 pr-md-5">
            <p class="font-weight-bold">已上传附件</p>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">附件名</th>
                    <th scope="col"></th>
                    <th scope="col">版本</th>
                    <th scope="col">公开性</th>
                    <th scope="col">更新日期</th>
                </tr>
                </thead>
                <tbody>
                {% for d in all_downloads %}
                    <tr>
                        <td scope="row">{{ d.name }}</td>
                        <td class="fake-link-plus" onclick="showButtons(this);">
                            <span class="fa fa-plus-circle"></span>
                        </td>
                        <td>{{ d.version }}</td>
                        <td>{{ d.file_type }}</td>
                        <td class="text-muted">{{ d.date|date:"Y年m月d日" }}</td>
                    </tr>
                    <tr class="table-secondary" hidden>
                        <td colspan="5">
                            {% if d.description %}
                                {{ d.description }}<br>
                            {% endif %}
                            {% if d.update_log %}
                                {{ d.update_log }}<br>
                            {% endif %}
                            <a href="{% url 'control:get_download' d.id %}" role="button"
                               class="btn btn-sm btn-primary">下载</a>
                            <a href="javascript:" onclick="copyLink({{ d.id }})" role="button"
                               class="btn btn-sm btn-success">复制链接</a>
                            <a href="{% url 'control:delete_download' d.id %}" role="button"
                               class="btn btn-sm btn-danger">删除</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td scope="row" colspan="4">暂无附件</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/dynamic_download.js' %}"></script>
{% endblock %}

