<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    {% load static %} {% include 'global_css.html' %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3 mt-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col text-center">
            <a class="blog-header-logo text-dark" href="{% url 'home:index' %}">工业和信息化人才专业知识测评系统</a>
            <br />
            <small>主办单位：工业和信息化部人才交流中心</small>
          </div>
        </div>
      </header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% if n_bar == 'index' %} active{% endif %}">
            <a class="nav-link" href="{% url 'home:index' %}">主页</a>
          </li>
          <li class="nav-item{% if n_bar == 'grades' %} active{% endif %}">
            <a class="nav-link" href="{% url 'home:grades' %}">查询成绩</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item {% if n_bar == 'login' %} active{% endif %}">
            <a class="nav-link" href="{% url 'home:login' %}">登入工作台</a>
          </li>
        </ul>
      </nav>
    </div>
    <main role="main" class="container">
      {% block content %} {% endblock %}
      <!-- FOOTER -->
      <footer class="container">
        <p>主办单位：工业和信息化部人才交流中心</p>
      </footer>
    </main>
    {% include 'global_js.html' %} {% block js %} {% endblock %}
  </body>
</html>
