<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    {% load static %}
    {% include 'global_css.html' %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-2 mr-0" href="{% url 'home:dashboard' %}">璞实科技工作台</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <!-- Setup server -->
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-3 text-muted">
                    璞实科技工作台
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:dashboard' %}">
                            <i class="fa fa-home"></i> 首页
                        </a>
                    </li>
                </ul>
                <hr>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-3 text-muted">
                    题库/试卷管理
                </h6>
                <ul class="nav flex-column">
                    {% if user.profile.view_access.pool %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pool:problems' %}">
                                <i class="fa fa-list"></i> 题库管理
                            </a>
                        </li>
                    {% endif %}
                    {% if user.profile.view_access.exam %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exam:exams' %}">
                                <i class="fa fa-random"></i> 组成试卷
                            </a>
                        </li>
                    {% endif %}
                    {% if user.profile.view_access.certification %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exam:certification' %}">
                                <i class="fa fa-certificate"></i> 工信认证
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <hr>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 my-3 text-muted">
                    控制面板
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'control:account' %}">
                            <i class="fa fa-user"></i> 用户管理
                        </a>
                    </li>
                    {% if user.profile.view_access.download %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'control:download' %}">
                                <i class="fa fa-download"></i> 附件管理
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:logout' %}">
                            <i class="fa fa-sign-out-alt"></i> 退出系统
                        </a>
                    </li>
                </ul>
                {% include 'messages.html' %}
            </div>
        </nav>
        <!-- Main canvas -->
        <main role="main" class="col-md-10 ml-sm-auto px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 class="h2">
                    {% block canvas_title %}{% endblock %}
                </h2>
            </div>
            <div class="container-fluid px-0 mb-5">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
</div>

{% include 'global_js.html' %}
{% block js %}
{% endblock %}
</body>

</html>