<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    {% load static %} {% include 'global_css.html' %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% if n_bar == 'index' %} active{% endif %}">
            <a class="nav-link" href="{% url 'home:index' %}">主页</a>
          </li>
          <li class="nav-item{% if n_bar == 'grades' %} active{% endif %}">
            <a class="nav-link" href="{% url 'home:grades' %}">查询成绩</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item {% if n_bar == 'login' %} active{% endif %}">
            <a class="nav-link" href="{% url 'home:login' %}">登入工作台</a>
          </li>
        </ul>
      </nav>
    </div>
    <main role="main" class="container-fluid" style="height: 80vh;">
      {% block content %} {% endblock %}
    </main>
    <!-- FOOTER -->
    <footer class="container-fluid ml-5">
      <p>主办单位：工业和信息化部人才交流中心</p>
    </footer>
    {% include 'global_js.html' %} {% block js %} {% endblock %}
  </body>
</html>
